<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
  <title>Supporters - WebUML</title>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="keywords" content="UML, Unified Modeling Language, web-enable" />

  <link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/" />

  <link rel="stylesheet" href="http://static.thesoftwarefactory.be/css/tsf.css" type="text/css" />
  <link rel="stylesheet" href="http://static.thesoftwarefactory.be/css/umlcanvas.css" type="text/css" />
  <link rel="stylesheet" href="/css/webuml.css" type="text/css" />

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  var pageTracker = _gat._getTracker("UA-393672-19");
  pageTracker._trackPageview();
  </script>
</head>

<body>
  <div id="header">
    <a href="http://webuml.org/"><img src="http://static.thesoftwarefactory.be/images/logo-webuml-250x50.png" alt="webUML"></a><br>
    <h2>releasing UML onto the web</h2>
  </div>

  <div id="page">
    {{content}}
    
    <div class="sitemap">
      <table>
        <tr valign="top">
          <td width="150px">
            <a name="the_webUML_initiative" id="the_webUML_initiative"></a><h3> <span class="mw-headline">the webUML initiative</span></h3>
            <ul class="menu">
              <li><a href="/" title="Main Page">Introduction</a></li>
              <li><a href="/Call_for_Action" title="Call for Action">Call for Action</a></li>
              <li><a href="/Triangle" title="Triangle">Components</a></li>
              <li><a href="http://blog.webuml.org" class="external text" title="http://blog.webuml.org" rel="nofollow">Blog</a></li>
            </ul>
          </td>
          <td width="150px">
            <a name="You" id="You"></a><h3> <span class="mw-headline">You</span></h3>
            <ul class="menu">
              <li><a href="/What_can_you_do" title="What can you do?">What can you do?</a></li>
              <li><a href="/Supporters" title="Supporters">Supporters</a></li>
              <li><a href="/Projects" title="Projects">Projects</a></li>
              <li><a href="/References" title="References">References</a></li>
              <li><a href="/On_the_Wire" title="On the Wire">On the Wire</a></li>
            </ul>
          </td>
          <td width="350px">
            <h3><span class="mw-headline">News &amp; Updates </span></h3>
            <div id="twitter_div">
              <ul class="twitter" id="twitter_update_list"></ul>
              <p style="text-align:right"><a href="http://twitter.com/setUMLfree">follow us on Twitter</a></p>
            </div>
            <p><script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
              <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/setUMLfree.json?callback=twitterCallback2&amp;count=5"></script>
            </p>
          </td>
          <td width="200px">
            <p>
              <div class="infobox">
                <h3 style="text-align:center">Ready to Set UML Free?</h3>
                <p>
                  Show the web that UML is coming its way and put a webUML badge on your site, blog...
                </p>
                <p style="text-align:center">
                  <img src="/images/webuml-badge.png" alt="Set UML Free!" style="border-width:0;">
                </p>
                <p>
                  Just include this HTML snippet in your pages:
                </p>
                <p style="text-align:center;">
                  <input style="width:180px" value='<a href="http://webuml.org"><img src="http://webuml.org/images/webuml-badge.png" alt="Set UML Free!" style="border-width:0"></a>' onclick="this.select();">
                </p>
              </div>
            </p>
          </td>
        </tr>
      </table>
    </div>

  </div>


  <div id="footer">
    <table width="750">
      <tr>
        <td style="width:250px;vertical-align:top">
          <a href=""><img src="http://webuml.org/images/webuml-badge.png" alt="Set UML Free!"></a><br>
          The webUML initiative is a non-commercial and open call for action to the entire online community. It was conceived by <a href="http://christophe.vg">Christophe VG</a> and realized by <a href="http://thesoftwarefactory.be">TheSoftwareFactory</a> as an initial sponsor.
        </td>
        <td style="width:250px;vertical-align:top">
          <a href="http://creativecommons.org/licenses/by-sa/2.0/be/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/2.0/be/80x15.png" ></a><br>the webUML initiative by <a href="http://webuml.org">http://webuml.org</a> is licensed under a <a href="http://creativecommons.org/licenses/by-sa/2.0/be/">Creative Commons Attribution-Share Alike 2.0 Belgium License</a>.
        </td>
        <td style="width:200px;vertical-align:top;">
          <a href="http://www.twitter.com/setUMLfree"
          class="icon" style="background-image:url(http://static.thesoftwarefactory.be/images/badges/twitter.png);">Twitter</a><br/><br/>
          <a href="http://www.linkedin.com/groupRegistration?gid=2662314"
          class="icon" style="background-image:url(http://static.thesoftwarefactory.be/images/badges/linkedin.png);">LinkedIn</a>            
        </td>
      </tr>
    </table>
  </div>

</body>
</html>
